.App {
  text-align: center;
  background-color: black;
  display: flex;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
}


.side-menu {
  width: 260px;
  /* border: 1px solid white; */
  color: white;
  padding: 10px;
}

.side-menu-button {
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
 transition: ease .25s all;
}


.side-menu-button:hover {
  background-color: rgba(255,255,255,0.1)
 
}

.side-menu-button span {
  padding-left: 5px;
  padding-right: 15px;
}

.chatbox {
  flex: 1;
  /* border: 1px solid white; */
  background-color: #343541;
  position: relative;
}

.chat-input-textarea {

  width: 90%;
 border: none;
  border-radius: 5px;
  margin: 12px;
  outline: none;
  padding: 12px;

  
  color: white;
  background-color: #343541;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
  font-size: 1.25em;

}

.chat-input {
  padding: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;


}

.chat-log {
  color: white;
  /* padding: 24px; */
  text-align: left;
  /* display: flex; */
}


.chat-message.chatgpt {
  background-color: #444465;
  /* justify-content: space-between; */

  /* max-width: 480px;
  margin-left: auto;
  margin-right: auto; */
  /* background-color: aqua; */
}

.chat-avatar {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.chat-avatar.chatgpt {
  background-color: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}



.message {
  padding-left: 40px;
  padding-right: 40px;

}

.chat-message-center {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;


}
